<script type="text/javascript">
    var item = document.getElementById('change');
    item.innerHTML = "<a class=\"nav-link\" href=\"/users/logout\">Logout</a>";
    item = document.getElementById('register');
    item.innerHTML = "";
</script>
<div class="container">
    <div class="row mt-5">
      <div class="col-md-6 m-auto">
        <form  action="/medicines" method="get">
            <div class="form-group">
              <label for="med">Medicine Name</label>
              <input type="text" name="med" class="form-control" placeholder="Enter Medicine Name"/>
            </div>
            <button type="submit" class="btn btn-primary">Search</button>
        </form>
        <br>
        <div style="overflow-x:auto;">
            <table class="table table-hover table-bordered table-stripped" style="background-color:white;">
                <thead style="background-color:#3E3F3A;color:white;">
                    <tr class="table-primay">
                      <th scope="col">Name</th>
                      <th scope="col">Manufacture</th>
                      <th scope="col">Form</th>
                      <th scope="col">Packet Size</th>
                      <th scope="col">MRP</th>
                    </tr>
                </thead>
                <tbody>

                <% medicines.forEach(function (st) { %>
                <tr>
                    <td> <%= st.name %>  </td>
                    <td> <%= st.manufacturer %>  </td>
                    <td> <%= st.pForm %>  </td>
                    <td> <%= st.packSize %>  </td>
                    <td> <%= st.mrp %>  </td>
                </tr>
                <% }) %>
                </tbody>
            </table>
        </div>

    </div>
    </div>
</div>
